.usersPage {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 4rem auto 3rem auto;
    height: 75%;

    color: var(--clr-quinary);
}

.logoutButton {
    display: flex;
    justify-content: center;
    width: 100%;
}

.overlay {
    opacity: 40%;
}

.userInfo {
    width: 90%;
    display: block;
}

.userInformation {
    margin-bottom: 1.1rem;
    border-bottom: 1px solid var(--clr-quinary);
}

@media only screen and (max-height: 800px) {
    .usersPage {
        justify-content: space-around;
        align-items: flex-end;
        margin: 3rem auto;
    }
    .userInfo {
        width: 45%;
        word-break: break-all;
    }
}

@media only screen and (max-width: 350px) {
    .userInfo {
        font-size: 0.8rem;
    }
    h2 {
        font-size: 1.2rem;
    }
}