.images {
    width: 100%;
    height: 60%;

    padding: 5rem 0 2rem 0;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    border-bottom: 15px solid var(--clr-primary);
}

.img {
    width: 90%;

    height: 45%;

    display: grid;
    place-items: center;

    overflow: hidden !important;
}

img {
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.img:hover img {
    transform: scale(110%);
}

.loginSignup {
    height: 40%;
    width: 100%;

    border-top: 15px solid var(--clr-primary);

    display: grid;
    place-items: center;

    padding: 3rem 0;
}

.loginSignup {
    color: var(--clr-quinary);
}

.btn {
    background-color: var(--clr-secondary);
    color: white;
    
    border: none;
    border-radius: 5px;
    
    padding: 0.5rem 2.2rem;
    
    font-size: 15px;
    text-transform: uppercase;
    
    cursor: pointer;
}

.ls-btn {
    padding: 0.5rem 8rem;
}

.btn:hover {
    background-color: var(--clr-quinary);
    color: var(--clr-quaternary);
}

.btn-dark:hover {
    background-color: var(--clr-quaternary);
    color: var(--clr-quinary);
}

.css-ohwg9z {
    width: 90%;
    height: 120% !important;
}

.css-1f8sh1y {
    height: 70% !important;
}

.css-1m9128y {
    height: 20%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.center {
    display: grid;
    place-items: center;
}

.info {
    margin: 5px 0;
    background-color: var(--clr-quinary);
    height: 100% !important;
}

.submit {
    padding: 4rem 0;
}

.wrongInfo {
    color: red;
}

.input-box {
    /* margin: 0.5rem auto; */
    display: flex;
    color: var(--clr-quaternary);
}

.input-box > * {
    color: inherit;
}

input {
    border: none;
    outline: none;
    background-color: transparent;

    color: var(--clr-quaternary);
    font-weight: 500;

    border-bottom: 1px solid var(--clr-quaternary);

    margin: 0 8px;
}

input::placeholder {
    color: rgb(204, 204, 204);
}

.css-1l7c0cy div div {
    height: 100%;
}

#eye {
    cursor: pointer;
}

#eye > * {
    color: var(--clr-quaternary) !important;
}

.css-ktslay-MuiButtonBase-root-MuiIconButton-root {
    opacity: 1 !important;
    background-color: var(--clr-quaternary) !important;
    color: var(--clr-quinary) !important;
}

.css-ktslay-MuiButtonBase-root-MuiIconButton-root:hover {
    background-color: rgb(136, 136, 136) !important;
}

@media only screen and (max-width: 380px) {
    .css-1m9128y {
        margin-top: 1.3rem !important;
    }
}